# Code Composer Studio & Eclipse specific
#
# Build artifacts and output directories
Debug/
Release/

# Target configuration files
targetConfigs/

# User-specific settings and launch configurations
.settings/
.launches/
*.launch
*.user
*.configspec

# Ignore the workspace-level project file in the root directory
/.project

# TI-RTOS specific files (good to have for future projects)
src/
.config/
.xdchelp


# General C/C++ files & temporary files
#
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Log and temporary files
*.log
*.tmp

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# get rid of vs code folder
.vscode/